.flexWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todoItem {
  display: flex;
  width: 500px;
  min-height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: grey;
}

.todoItem.checked {
  background-color: darkgrey;
  opacity: 0.5;
}

.todo-item.delition {
  animation: opacity 1s ease-in-out;
}

.description {
  width: 80%;
  display: flex;
  align-items: center;
  color: floralwhite;
}

.buttons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.buttons button {
  outline: none;
  border: none;
  /* background-color: rgb(231, 175, 71); */
  /* color: #ffffff; */
  cursor: pointer;
  height: 25px;
  /* border-radius: 5px; */
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
